{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-group">
  <div class="card">
    <img src="{% static 'images/p의거짓.png' %}" height="400" class="card-img-top" alt="P의거짓">
    <div class="card-body">
      <h5 class="card-title">P의 거짓</h5>
      <p class="card-text">Lies Of P는 벨에포크 시대를 배경으로 펼쳐지는 잔혹동화 액션 게임입니다. 아름다웠던 도시는 흉물로 변했고 절규가 멈추지 않는 인간성 상실의 시대가 되었습니다. 고전 피노키오를 성인 잔혹극으로 각색한 Lies Of P는 매력적인 시나리오와 긴장감 넘치는 소울라이크 액션을 선사합니다. 인간이 되기 위한 여정을 떠나는 피노키오의 잔혹한 내일을 경험하세요.</p>
      <p class="card-text"><small class="text-muted">출시일 : 2023. 9. 19</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/suicidesquad.png' %}"  height="400" class="card-img-top" alt="suicidesquad">
    <div class="card-body">
      <h5 class="card-title">수어사이드 스쿼드: 킬 더 저스티스 리그</h5>
      <p class="card-text">아캄버스의 개발사 락스테디 스튜디오의 수어사이드 스쿼드 기반 게임.</p>
      <p class="card-text"><small class="text-muted">출시일 : 2024년 2월 2일</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/starfield.png' %}"  height="400" class="card-img-top" alt="starfield">
    <div class="card-body">
      <h5 class="card-title">스타필드</h5>
      <p class="card-text">Starfield는 The Elder Scrolls V: Skyrim과 Fallout 4로 수상 경력에 빛나는 Bethesda Game Studios가 25년만에 선보이는 새로운 세계입니다. 별들 사이에서 진행되는 이 차세대 롤플레잉 게임에서 플레이어들은 인류의 가장 큰 의문을 풀기 위한 장대한 여정을 떠나게 됩니다.</p>
      <p class="card-text"><small class="text-muted">출시일 : 2023. 9. 6.</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="{% static 'images/reddessert.png' %}" height="400" class="card-img-top" alt="reddessert">
    <div class="card-body">
      <h5 class="card-title">붉은 사막</h5>
      <p class="card-text">광대하지만 분열된 대륙. 차가운 사막. 화려하지만 거친 도시. 붉은사막은 광활한 파이웰 대륙에서 펼쳐지는 개인과 세계에 대한 이야기입니다. 당신은 때로 다른 플레이어들과 경쟁하고, 때로는 협력하면서 오픈월드를 모험하고, 고대의 미스터리를 파헤칠 수 있습니다. 의도하든, 의도하지 않았든 당신은 이 세계의 역사와 운명에 깊숙이 관여하게 됩니다. 세계의 역사를 만드십시오.

이곳이 당신의 역사가 쓰일 붉은사막입니다.</p>
      <p class="card-text"><small class="text-muted">출시일 : 2023년 4분기</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/atlas.png' %}"  height="400" class="card-img-top" alt="atlas">
    <div class="card-body">
      <h5 class="card-title">아틀라스 폴른</h5>
      <p class="card-text">유해 속에서 일어나 고대의 위험과 신비, 과거의 단편이 가득한 영원한 땅의 모래를 타고 미끄러지세요. 초능력이 사용되는 장대한 전투에서 모래의 힘이 담긴 강력한 변형 무기와 능력을 써서 전설의 괴수를 사냥하세요.</p>
      <p class="card-text"><small class="text-muted">출시일 : 2023. 8. 10</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/stalker2.png' %}"  height="400"  class="card-img-top" alt="stalker2">
    <div class="card-body">
      <h5 class="card-title">스토커2: 초르노빌의 심장부</h5>
      <p class="card-text">우크라이나 게임 개발사 GSC Game World가 개발한 스토커 시리즈의 네번째 작품이자 3편 후로 죽은 줄 알았던 시리즈의 11년만에 귀환한 최신작.</p>
      <p class="card-text"><small class="text-muted">출시일 : 2023. 12. ??</small></p>
    </div>
  </div>
</div>
{% endblock content %}